@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    margin: 0;
    padding: 1%;
    background-color: #E59EFF;
    font-family: 'Montserrat', sans-serif;
}

aside
{
    width: 50%;
    display: inline;
    padding: 2%;
}

article code pre
{
    background-color: beige;
    height: 80%;
    padding: 2%;
    margin: 2%;
}

article
{
    width: 50%;
    display: inline;
    float: left;
    padding: 2%;
    height: 45%;
}

footer a
{
    color: black;
}